<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</script>
<script src="https://www.jqueryscript.net/demo/Word-Tag-Cloud-Generator-jQWCloud/Word%20Cloud/js/lib/jQWCloudv3.1.js"></script>
  
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
  <style>

	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>

    <title>Dependency Discoverability Report of {{repository}}</title>
  </head>
  <body>
      <section><div class="container">
        <div class="row">
            <div class="col jumbotron">
              <h1 class='text-center'> Dependency Discoverability Analysis Report of {{repository}}</h1>
              <h3 class='text-center'>The repository <a href="https://github.com/{{author}}/{{repository}}">{{repository}}</a> belongs to <a href="https://github.com/{{author}}">{{author}}</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                    <h2 class='text-center'> History of Dependency Discoverability Levels </h2>
            </div>
        </div>
       <div class='divider'><hr></div>
       <div class='row'>
         <div class='col' style="padding:10px">
          <div id="previous_b" class='btn btn-info'>&#60;</div>
          <div id="next_b" class='btn btn-info'>&#62;</div>
          
          </div>
        </div>
        <div class="row">
          <div class="col">
          <div id="github_graph" class="d-flex justify-content-center"></div>
            <script>
                var cal = new CalHeatMap();
                cal.init({
                            
                              itemSelector: "#github_graph",
                              domain: "year",
                              displayLegend: false,
                              subDomain: "day",
                              data: {{date_dict}},
                              start: new Date({{max_date}}),
                              end: new Date(),
                              cellSize: 13,
                              range: 1,
                             // itemName: "(3=High, 2=Medium, 1=Low, 0=Unaffected) threat",
                             subDomainTitleFormat: {
		                                empty: "{date}",
		                                filled: "{date}"
	                            },
                              previousSelector: "#previous_b",
                              nextSelector: "#next_b",
                              legend: [1,2,3,4],
                              legendColors: {
		                                empty: "green",
		                                min: "#ebedf0",
		                                max: "red"
                            },
                  });

            </script>
         </div>
       </div>
       <div class="row">
        <div class="col offset-1" style='padding-bottom:30px;'>
          <style>
            .legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 5px; }
/* your colors */
.legend .low { background-color: #d4cafd; }
.legend .high { background-color: #ff488d; }
.legend .medium { background-color: #f494e2;}
.legend .unaffected { background-color: green; }
          </style>
          <ul class="legend">
            <li><span class="unaffected"></span> Unaffected</li>
            <li><span class="low"></span> Hidden</li>
            <li><span class="medium"></span> Reported</li>
            <li><span class="high"></span> Public</li>
         </ul>
        </div>
      </div>


       <div class='row'>
        <div class="col">
                <h2 class='text-center'> Distribution of Dependency Discoverability Levels </h2>
           </div>
          </div>
          <div class='row'>
           <div class='col'>
            <hr>
          </div>
          </div>
        <div class="row">
            <div class='col'> 
              <div id="lifetime-overview"></div>               
        </div>

        <script>
                        
                            var low = {
                                x: {{ intervals }},
                                y: {{ low_threats }},
                                type: "bar",
                                name: "Hidden",
                                marker: {
                                  color: "blue",
                                }
                            }
                            var medium = {
                                x: {{ intervals }},
                                y: {{ medium_threats }},
                                type: "bar",
                                name: "Reported",
                                marker: {
                                  color: "orange",
                                }
                            }
                            var high = {
                                x: {{ intervals }},
                                y: {{ high_threats }},
                                type: "bar",
                                name: "Public",
                                marker: {
                                  color: "red",
                                }
                            }
                            var unaffected = {
                                x: {{ intervals }},
                                y: {{ unaffected }},
                                type: "bar",
                                name: "Unaffected",
                                marker: {
                                  color: "green",
                                }
                            }
                            var data = [unaffected, low, medium, high]
                            var layout = {
                                barmode: 'stacked',
                                bargap: 0.5,
                                yaxis: {
                                         rangemode: 'tozero',
                                         fixedrange: true
                                }
                              
                              };

                            Plotly.newPlot('lifetime-overview', data, layout, {
                              displaylogo:false,
                              modeBarButtonsToRemove: [ 'resetScale2d', 'select2d', 'toImage', 'editInChartStudio', 'drawclosedpath', 'hoverClosestCartesian','hoverCompareCartesian','toggleSpikelines',  'sendDataToCloud',  'lasso2d'],
	
                            
                            
                            
                            })
        </script>
        </div>
          <div class='row'>
                      <div class= 'col'>
                        <!-- <div id='timeline-overview'></div> -->
 
          <script>
                          var layout = {
                                                   hovermode: false,
                                                    yaxis: {
                                                      //rangemode: 'tozero',
                                                      fixedrange: true,
                                                      showgrid: false,
                                                      zeroline: false,
                                                      showline: false,
                                                      showticklabels: false
                                                    },
                                                    xaxis: {
                                                      fixedrange: true
                                                    }
                                                  };

          Plotly.plot('timeline-overview', [{
                  x: {{unaffected_timeline_date}},
                  y: {{unaffected_timeline}},
                  type: 'scatter', 
                  opacity: 0.8,
                  line: { color: 'green', width: 20 },
                  mode: 'lines',
                  name: 'Unaffected'
                },{
                  x: {{low_timeline_date}},
                  y: {{low_timeline}},
                  type: 'scatter', 
                  opacity: 0.8,
                  line: { color: 'blue', width: 20 },
                  mode: 'lines',
                  name: 'Hidden'
                },
                {
                  x: {{medium_timeline_date}},
                  y: {{medium_timeline}},
                  type: 'scatter', 
                  opacity: 0.8,
                  line: { color: 'orange', width: 20 },
                  mode: 'lines',
                  name: 'Reported'
                },{
                  x: {{high_timeline_date}},
                  y: {{high_timeline}},
                  type: 'scatter', 
                  opacity: 0.8,
                  line: { color: 'red', width: 20 },
                  mode: 'lines',
                  name: 'Public'
                }], layout, {displaylogo:false, displayModeBar:false})


          </script>

      </div>
      </div>


     
</div>
<div class='row'>
  <div class="col">
          <h2 class='text-center'> Vulnerable Packages across Discoverability Levels </h2>
     </div>
    </div>
    <div class="container">
    <div class='row'>
     <div class='col'>
      <hr>
    </div>
    </div>
    <div class="row">
      <div class="col offset-1" style='padding-bottom:10px; margin-top:30px;'>
        <style>
          .legend_2 { list-style: none; }
.legend_2 li { float: left; margin-right: 10px; }
.legend_2 span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 5px; }
/* your colors */
.legend_2 .low { background-color: blue; }
.legend_2 .high { background-color: red; }
.legend_2 .medium { background-color: orange;}
.legend_2 .unaffected { background-color: green; }
        </style>
        <ul class="legend_2">
          <li><span class="low"></span> Hidden</li>
          <li><span class="medium"></span> Reported</li>
          <li><span class="high"></span> Public</li>
       </ul>
      </div>
    </div>
  </div>

<div class='row'>
  <div class='col col-md-6 offset-3'>
    <div id='wordCloud' style='border:1px solid darkGray; height: 400px;'></div>

    <script>
      const myData = [

        {% for k, v in high_list.items() %}
        {word: '{{k}}', weight: {{v}}, color: 'red'},      
        {% endfor%}
        {% for k, v in medium_list.items() %}
        {word: '{{k}}', weight: {{v}}, color: 'orange'},      
        {% endfor%}
        {% for k, v in low_list.items() %}
        {word: '{{k}}', weight: {{v}}, color: 'blue'},      
        {% endfor%}

        {word: '', weight: 0, color:'green'}
]
$("#wordCloud").jQWCloud({
  words: myData,
  title: 'vulnerable packages',
  minFont: 16,
  maxFont: 50,
  
});
    </script>
  </div>
</div>
</section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    </body>
</html>